<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vlad - Authentification</title>
    <link rel="stylesheet" href="/auth/styles/auth.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <% if (onMobile) { %>
    <meta
      http-equiv="refresh"
      content="0; url=exp://192.168.1.108:8081?userId=<%= user._id %>&accessToken=<%= accessToken %>&refreshToken=<%= refreshToken %>"
    />
    <% } %>
  </head>
  <body>
    <main>
      <section>
        <% if (onMobile) { %>
        <h3>Veuillez patienter...</h3>
        <p>Vous serez redirigé vers l'application mobile.</p>
        <a href="javascript:window.location.reload()">Rafraîchir</a>
        <% } else { %>
        <h3 class="title">&#128075; Salut <%= user.firstName %> !</h3>
        <p class="description">
          L'application est disponible uniquement sur mobile.
        </p>
        <div class="qr-code-container">
          <p class="scan-code">Veuillez scanner le code QR ci-dessous :</p>
          <img
            src="https://api.qrserver.com/v1/create-qr-code/?size=400x400&data=exp://192.168.1.108:8081?userId=<%= user._id %>&accessToken=<%= accessToken %>&refreshToken=<%= refreshToken %>"
            alt="QR Code"
            class="qr-code"
          />
        </div>
        <% } %>
      </section>
    </main>
    <footer>
      <div class="footer-content">
        <p class="copyright">© <%= year %>, Les violons d'Amilly</p>
        <p class="socials">
          <a href="https://www.facebook.com/OrchestreLeVlad" target="_blank">
            <img
              src="/assets/icons/facebook.png"
              alt="Facebook"
              height="16"
              width="16"
            />
          </a>
          <a
            href="https://www.youtube.com/channel/UCQ6dgQ75si2X0-0bFblZiig"
            target="_blank"
          >
            <img
              src="/assets/icons/youtube.png"
              alt="YouTube"
              height="16"
              width="16"
            />
          </a>
          <a href="https://www.instagram.com/orchestrelevlad/" target="_blank">
            <img
              src="/assets/icons/instagram.png"
              alt="Instagram"
              height="16"
              width="16"
            />
          </a>
        </p>
      </div>
      <div class="links">
        <a href="https://news.lesviolonsdamilly.org/" target="_blank"
          >Site Principal</a
        >
        <a href="/privacy" target="_blank">Politique de confidentialité</a>
      </div>
    </footer>
  </body>
</html>
